<!-- <h1>Definitons</h1>

<h3>Here are the definitions of this word: </h3>
<ul>
  <% @definitions.each() do |definition| %>
    <li><a href="/definintions/<%= definition.id() %>"><%= definition.definition_string() %></a></li>
  <% end %>
</ul> -->
